<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del tratamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="medkit-outline" slot="start"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><ion-icon name="information-circle-outline"></ion-icon> <strong>Descripción:</strong> {{ tratamiento.descripcion_tratamiento }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><ion-icon name="calendar-outline"></ion-icon> <strong>Duración en días:</strong> {{ tratamiento.duracion_tratamiento }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
