<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Detalle Cita</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon class="icono" style="zoom:2.0;" name="calendar"></ion-icon>
      <ion-card-subtitle><strong class="title">Motivo: </strong>{{cita.motivo_cita }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle><strong class="title">Fecha: </strong>{{cita.fecha_cita}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon class="icono" style="zoom:2.0;" name="paw"></ion-icon>
      <ion-card-subtitle><strong class="title">Motivo: </strong>{{cita.motivo_cita }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle><strong class="title">Fecha: </strong>{{cita.fecha_cita}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon class="icono" style="zoom:2.0;" name="medkit"></ion-icon>
      <ion-card-subtitle><strong class="title">Motivo: </strong>{{cita.motivo_cita }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle><strong class="title">Fecha: </strong>{{cita.fecha_cita}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>