<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Admin
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="bg-container">
  <div class="bg-img"></div>
  <div class="bg-overlay"></div>
<ion-content padding>


  <div class="grid-container">
    <header>
      <img class="logo" src="../../assets/pae_logotipo.png" alt="Logo de mi aplicación">
    </header>

    <div (click)="goToCargos()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="id-card" slot="start"></ion-icon>
      <h2>Cargos</h2>
    </div>

    <div (click)="goToCitas()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="calendar" slot="start"></ion-icon>
      <h2>Citas</h2>
    </div>

    <div (click)="goToClientes()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="man" slot="start"></ion-icon>
      <h2>Clientes</h2>
    </div>
    <div (click)="goToCondicion()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="calendar" slot="start"></ion-icon>
      <h2>Condicion</h2>
    </div>
    <div (click)="goToDiagnosticos()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="medkit" slot="start"></ion-icon>
      <h2>Diagnosticos</h2>
    </div>
    <div (click)="goToHorarios()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="alarm" slot="start"></ion-icon>
      <h2>Horarios</h2>
    </div>
    <div (click)="goToMascotas()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="paw" slot="start"></ion-icon>
      <h2>Animalitos</h2>
    </div>
    <div (click)="goToPersonal()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="people" slot="start"></ion-icon>
      <h2>Personal</h2>
    </div>
    <div (click)="goToTratamientos()" class="grid-item green">
      <ion-icon style="zoom:2.0;" name="receipt" slot="start"></ion-icon>
      <h2>Tratamientos</h2>
    </div>
  </div>
</ion-content>